APP_URL= "http://localhost"
APP_ADDRESS= "127.0.0.1"
APP_PORT= ":<port_number>"


### Instagram Space
INSTAGRAM_GRAPH_VERSION="v25.0"
INSTAGRAM_API="https://graph.instagram.com"
INSTAGRAM_ID="instagram_id"
INSTAGRAM_ACCESS_TOKEN="instagram_token"